@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');

header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}

body {
    color: #666666;
    background-color: grey;
    background-position: center;
    font-family: Georgia, times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: 940px;
    margin: 20px auto 00px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}
header {
    height: 230px;
   }
h1 {
    text-indent: -9999px;
    width: 940px;
    height: 230px;
    margin: 0px;
    background-image: url(../images/salmon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent}
.company-name{
    margin: 0px;
    padding: 50px 5px 50px 50px;
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
    font-size: 50px;
    clear: both;
}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav li {
    display: inline;
    margin-right: 40px;}
nav li a {
    color: #ffffff;}
nav li a:hover, nav li a.current {
    color: #000000;}
section.company {
    font-family: 'Open Sans', sans-serif;
}
section.menu-intro {
    width: 659px;
    border-right: 1px solid #eeeeee;}

section.menu{
        width: 659px;
        border-right: 1px solid #eeeeee;
        clear: both}
article {
    clear: both;
    overflow: auto;
    width: 100%;}
hgroup {
    margin-top:40px;}
figure {
    float: left;
    width: 290px;
    height: 230px;
    padding-right: 20px;
    margin: 20px;}
figcaption {
    font-size: 90%;
    text-align: left;}
aside {
    width: 230px;
    padding: 0px 0px 0px 20px;}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;}
aside section a:hover {
    color: #985d6a;
    background-color: #efefef;}
a{
    color: #de6581; text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}

#table {
    font-family: Arial;
    background: orange;
    box-sizing: border-box; 
    border: 10px solid black;
    padding: 20px;
    margin: 30px;
    padding: 10px;
    height: 150px;
    width: 600 px;
}

.flex-box-wrapper {
    display: flex;
    justify-content: flex-start;
}

.flex-box-vertical-item--top {
    align-self: flex-start;
  }
  
  .flex-box-vertical--bottom {
    align-self: flex-end;
  }